/* theme color */
$--color-primary: #598CFF;
$--color-success: #0BCD74;
$--color-warning: #F5A623;
$--color-danger: #FF3333;
// $--color-info: #1E1E1E;

$--button-font-weight: 400;

// table
$--table-header-background-color: #fafafa;
$--table-header-font-color: $--color-text-primary;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  theme: $--color-primary;
}
