@import './comm/variables.scss';
@import './comm/normalize.css';
@import './comm/transition.scss';
@import './comm/utils.scss';

@import './components/nprogress.scss';
@import './elementUI/components.scss';

body{
  color: $--color-text-regular;
  // color: $--color-text-primary;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-variant: tabular-nums;
  line-height: 1.5715;
  background-color: #fff;
  font-feature-settings:'tnum';
}

html, body, #app{
  height: 100%;
}

a, a:active, a:visited{
  color: $--link-color;
  background-color: transparent;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: color .3s;
}
a:hover{
  color: $--link-hover-color;
}

/* 滚动条 */
::-webkit-scrollbar {
  width: 4px !important;
  height: 6px;
}
.hide-scrollbar::-webkit-scrollbar {
  width: 0 !important;
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.08);
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.6);
}
