/********************************************************************* element-ui style
*/
$--color-primary: #409EFF !default;

$--color-success: #67C23A !default;
$--color-warning: #E6A23C !default;
$--color-danger: #F56C6C !default;
$--color-info: #909399 !default;

$--color-text-primary: #303133 !default;
$--color-text-regular: #606266 !default;
$--color-text-secondary: #909399 !default;
$--color-text-placeholder: #C0C4CC !default;

$--border-color-base: #DCDFE6 !default;
$--border-color-light: #E4E7ED !default;
$--border-color-lighter: #EBEEF5 !default;
$--border-color-extra-light: #F2F6FC !default;

$--background-color-base: #F5F7FA !default;


/********************************************************************* custom style
*/

$--color-text-link: $--color-primary; // #598CFF
$--color-text-hover: mix($--color-primary, #fff, 86%); // #709cff
$--color-text-active: mix($--color-primary, #000, 86%); // #4d78db

$--background-color: #f0f2f5;

$--color-blue: #409EFF;
$--color-green: $--color-success;
$--color-red: $--color-danger;
$--color-yellow: $--color-warning;
$--color-gray: $--color-info;

// layout
$--layout-header-background-color: #001529;
$--layout-aside-background-color: #fff;
$--layout-aside-text-color: #606266;
$--layout-aside-active-text-color: #598CFF;
$--layout-aside-active-background-color: #EFF7FF;
