/********************************************************************* element-ui style
*/
$--color-primary: #409EFF !default;

$--color-success: #0BCD74 !default;
$--color-warning: #F5A623 !default;
$--color-danger: #FF3333 !default;
$--color-info: #909399 !default;
$--color-white: white !default;
$--color-black: black !default;

$--color-text-primary: #303133 !default;
$--color-text-regular: #606266 !default;
$--color-text-secondary: #909399 !default;
$--color-text-placeholder: #C0C4CC !default;

$--border-color-base: #DCDFE6 !default;
$--border-color-light: #E4E7ED !default;
$--border-color-lighter: #EBEEF5 !default;
$--border-color-extra-light: #F2F6FC !default;

$--background-color-base: #F5F7FA !default;


/********************************************************************* custom style
*/

// colors
$--color-blue: #409EFF;
$--color-green: $--color-success;
$--color-red: $--color-danger;
$--color-orange: $--color-warning;
$--color-gray: $--color-info;

// text、border、background
$--color-text-link: $--color-primary;
$--color-text-hover: mix($--color-primary, #fff, 86%);
$--color-text-active: mix($--color-primary, #000, 86%);

$--background-color: #f0f2f5;

// layout
$--layout-header-background-color: #001529;
$--layout-aside-background-color: #fff;
$--layout-aside-text-color: #606266;
$--layout-aside-active-text-color: $--color-primary;
$--layout-aside-active-background-color: #EFF7FF;
