// 1. 自定义变量

/********************************************************************* element-ui style
*/
/* Color
-------------------------- */
/// color|1|Brand Color|0
$--color-primary: #409EFF !default;
/// color|1|Functional Color|1
$--color-success: #0BCD74 !default;
/// color|1|Functional Color|1
$--color-warning: #F5A623 !default;
/// color|1|Functional Color|1
$--color-danger: #FF3333 !default;
/// color|1|Functional Color|1
$--color-info: #909399 !default;

/// color|1|Font Color|2
$--color-text-primary: #1D2129 !default;
$--color-text-regular: #4E5969 !default;
$--color-text-secondary: #86909C !default;

/* Link
-------------------------- */
$--link-color: mix(#ffffff, $--color-primary, 5%) !default;
$--link-hover-color: $--color-primary !default;

/* Border
-------------------------- */
/// borderRadius|1|Radius|0
$--border-radius-base: 2px !default;

/* Table
-------------------------- */
/// color||Color|0
$--table-header-background-color: #f9f9f9;
$--table-header-font-color: #303133 !default;

/* Button
-------------------------- */
$--button-border-radius: 2px;
$--button-medium-border-radius: 2px;

/* form
-------------------------- */
$--input-border-radius: 2px; // default: 4px

/* card
-------------------------- */
$--card-border-radius: 2px; // default: 4px

/********************************************************************* custom style
*/
// colors
$--color-blue: $--color-primary;
$--color-green: $--color-success;
$--color-red: $--color-danger;
$--color-orange: $--color-warning;
$--color-gray: $--color-info;

// layout
$--layout-background-color: #f0f2f5;
$--layout-dark-background-color: #001529;
$--layout-dark-text-color: rgba(255, 255, 255, .75);
$--layout-light-background-color: #fff;
$--layout-light-text-color: $--color-text-regular;

// divider
$--divider-border-color: rgba(0, 0, 0, .06);

// 2. 引入element-ui默认css变量，在页面中使用，具体变量详见: `./comm/element-var.scss`
// ⚠️ sass变量覆盖，需要放在变量声明之前
@import "~element-ui/packages/theme-chalk/src/common/var.scss";
