// button
.el-button{
  &[dashed]{
    border-style: dashed;
  }
  &[full]{
    width: 100%;
  }
  &[block]{
    display: block;
  }
  &[square]{
    border-radius: 0;
  }
}

// 日历弹窗
.el-date-table td{
  text-align: center !important;
}
.el-date-editor .el-range-separator{
  width: 32px;
}

// form
// input
.ve-icon.el-input__icon{
  height: 100%;
  width: 25px;
  font-size: 14px;
  text-align: center;
  transition: all .3s;
  line-height: 40px;
}
// el-switch
.el-switch{
  // 带文本
  &.switch-text, &[text]{
    .el-switch__label{
      position: absolute;
      top: 0;
      z-index: -1;
      opacity: 0;
      transition: opacity .3s;
      
      &.is-active{
        z-index: 1;
        color: #fff;
        opacity: 1;
      }
    }
    .el-switch__label--left{
      margin-right: 0;
      left: 24px;
    }
    .el-switch__label--right{
      margin-left: 0;
      right: 24px;
    }
  }
}

// el-popconfirm
.el-popconfirm {
  .el-popconfirm__main{
    margin-bottom: 1em;
  }
}
