$--sidebar-fixed-zindex: 999;
$--layout-header-height: 56px;

.ve-layout-wrapper{
  display: flex; flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: $--background-color;

  .drawer-mask {
    position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: $--sidebar-fixed-zindex;
    background: rgba($color: #000000, $alpha: 0.45);
  }
}

.ve-layout-header{
  position: relative;
  display: flex;
  height: $--layout-header-height;
  color: #fff;
  background-color: $--layout-header-background-color;
  box-shadow: 2px 0 8px 0 rgba(29, 35, 41, 0.05);

  .header-left{
    width: 210px;
    height: 100%;
  }
  .header-center{
    flex: 1 1 0%;
  }
  .header-right, .header-center{
    display: flex;
    margin-right: 20px;
  }
  .header-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    img{
      height: 30px;
      vertical-align: middle;
    }
    h1{
      margin-left: 12px;
      color: #fff;
      font-size: 20px;
    }
  }
  .header-item{
    display: flex;
    align-items: center;
    height: $--layout-header-height;
    color: inherit;
    padding: 0 12px;
    cursor: pointer;
    &:hover{
      background-color: mix($--layout-header-background-color, #fff, 92%);
    }
  }
}

.ve-layout-body{
  position: relative;
  display: flex;
  flex: 1;
  min-height: 0;
}

.ve-layout-aside{
  overflow: hidden;
  position: relative; z-index: 1;
  display: flex;
  flex-direction: column;
  color: $--layout-aside-text-color;
  background-color: $--layout-aside-background-color;
  box-shadow: 0 2px 8px 0 rgba(29, 35, 41, 0.1);
  &.is-fixed{
    position: fixed; top: 0; left: 0; bottom: 0; z-index: $--sidebar-fixed-zindex;
  }
  .sidebar-scrollbar{
    overflow-x: hidden !important;
    flex: 1;
    min-height: 0;
    &-wrap{
      overflow-x: hidden !important;
    }
  }
  .sidebar-menu{
    &:not(.el-menu--collapse){
      width: 210px;
    }
    &.el-menu{
      border-right: none;

      .sub-el-icon {
        vertical-align: middle;
        margin-right: 5px;
        width: 24px;
        text-align: center;
        font-size: 18px;
        color: currentColor;
        opacity: .85; //svg-icon color较重
      }
    }
    &-link{
      position: absolute; top: 0; right: 0; bottom: 0; left: 0;
    }
    .el-menu-item{
      position: relative;
      transition: border-color 0s;
    }
    .el-menu-item.is-active,
    .el-menu-item:hover, .el-menu-item:focus,
    .el-submenu__title:hover{
      background-color: $--layout-aside-active-background-color;
    }
    .el-menu-item.is-active{
      border-right: 3px solid $--color-primary;
    }
    .el-submenu.is-active{
      > .el-submenu__title{
        color: $--layout-aside-active-text-color;
      }
    }
    &.el-menu--collapse {
      .el-submenu {
        &>.el-submenu__title {
          &>span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
          .el-submenu__icon-arrow {
            display: none;
          }
        }
      }
    }
  }
  .sidebar-links{
    border-top: 1px solid $--border-color-lighter;
  }
  .sidebar-collapse{
    font-size: 20px;
    line-height: 48px;
    padding-left: 20px;
    cursor: pointer;
  }
}

.ve-layout-main{
  min-width: 0;
  flex: 1;
}

